code/temp/*
code/webroot/incoming/*
code/webroot/incoming/Image/*
code/webroot/resources/category/*
code/webroot/resources/content/*
code/webroot/resources/images/*
code/workarea/trash/resources/category/*
