* {
	outline: 0;		
}
a {
	color: #0072bc;
	text-decoration: none;
}
.carPage h1 {
	margin-top:30px;	
}
div.newCol .breadCrumbs {
	padding: 10px 0 17px 0;	
}
.largeLeft ul, .holderWideBack ul, .largeLeftWeird ul {
	margin: 10px 0;
	padding: 0 0 10px 15px;
}
a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background: black;
	color: white;
}
p {
	margin: 6px 0;
}
.clearFix {clear:both;}
ul.nav li {display: inline; list-style:none;}

.holderCenter {
	width: 900px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left:-450px;
}
.subBack {
	background: url(/common/images/template/page_back.jpg) left top no-repeat #a10c10;
	min-height: 200px;
}
.subBackHome {
	background: url(/common/images/template/page_back_home.jpg) left top no-repeat;
	min-height: 200px;
}
.padding {
	padding: 15px;
}
#holderMastHead { padding: 20px 0;}
#holderNavMain {
	float:left;
}
ul#mainNav  {
	margin: 5px 0 0 30px;
	padding: 0;
}
ul#mainNav li a {
	color: white;
	text-decoration:none;
	padding: 5px;
	margin: 0 10px 0 0;
}
ul#subNav {
	margin: 10px 0 0 25px;
	padding: 0;	
}
ul#subNav li {
	margin-right:23px;	
}
ul#subNav a {
	color:white;
	text-decoration: none;
	padding-left: 10px;
	background: url(/common/images/template/ico_red_square.png) left center no-repeat;	
	margin-right: 10px;
}
ul#subNav a:hover,ul#mainNav a:hover {
	text-decoration:underline;	
}
.searchLinks li {
	margin-left:10px;
}
#holderNavSearch {
	float:right;
	background: url(/common/images/template/salco_search_back.png) no-repeat left top;
	width: 212px;
	height: 69px;
}
#holderNavSearch ul { margin: 0; padding: 0; text-align:right;}
#holderNavSearch ul a { color:white; font-size:11px;}
#holderNavSearch form {
	margin: 35px 0 15px 20px;
}
.backSearch {
	width: 159px;
	height: 20px;
	background:url(/common/images/template/search_back.png) left top no-repeat;
	border-width: 0;
	padding-left:10px;	
}
.btnSearch {
	width: 22px;
	height: 20px;
	background:url(/common/images/template/btn_search.png) left top no-repeat;
	border: none;
	cursor:pointer;
}
.redLine {
	background: url(/common/images/template/red_line.png) no-repeat;
	width: 750px;
	height: 8px;
	margin: 20px 0 0 0;
}
#pageFooter {
	padding:10px;
	background:black;
	text-align: center;
}
.whitelink {
	color:white;
	text-decoration:underline;
}
#pageFooter a {
	color:white;
	margin-left:15px;
	text-decoration:underline;
}


/** home page **/
.homeLoc a, .homeTank a, .homeHop a {
	margin: 482px 0 0 50px;
	display:block;
	width:150px;
	height:30px;
	font-size:26px;
	color: white;
	text-decoration:none;
}
.homeInter a, .homeRail a {
	margin: 50px 0 0 450px;
	display:block;
	width:150px;
	height:30px;
	font-size:26px;
	color: white;
	text-decoration:none;
	text-align:center;
}
.homeLoc {
	background: url(/common/images/template/home_locomotive.jpg) right top no-repeat;
}
.homeTank {
	background: url(/common/images/template/home_tankcar.jpg) right top no-repeat;
}
.homeInter {
	background: url(/common/images/template/home_intermodel.jpg) right top no-repeat;
}
.homeHop {
	background: url(/common/images/template/home_hopper.jpg) right top no-repeat;
}
.homeRail {
	background: url(/common/images/template/home_railyard.jpg) right top no-repeat;
}

#imageRotate{
	width: 616px;
	height: 525px;
	overflow: hidden;
	display: block;
	background: url(/common/images/template/home_blank.jpg);
}
#imageRotate a:hover {
	color: #CCC;
}
#imageRotate div {
	width: 616px;
	height: 568px;
}
.homeLeft {
	float:left;
	width:616px;
}
.homeRight {
	float:left;
	padding: 40px 20px 20px 20px;
	width: 244px;
	font-size: 11px;
	background: url(/common/images/template/page_back.jpg) right top no-repeat #a10c10;
}
.homeNavRight {
	margin: 20px 0;
	padding: 0;
}
.homeNavRight li {
	padding: 0 0 3px 0;
	list-style: none;
}
.homeNavRight li a {
	display: block;
	color: white;
	width: 249px;
	height: 16px;
	background: url(/common/images/template/sprite_home_nav_right.png) no-repeat;
	font-size:11px;
	text-decoration: none;
	padding: 2px 0 0 15px;
}
.homeNavRight li a:hover, .active, li.ui-state-active a, li.ui-tabs-selected a {
	background: url(/common/images/template/sprite_home_nav_right.png) left -18px no-repeat!important;
}
.holderFeatProds {
	border-top: solid 1px white;
	margin-top:10px;
}
.holderProd img {
	float:right;
}
.holderProd {
	margin-top:10px;
}
.holderProd a {
	color:white;
}
.prodDet {
	width: 130px;
	float:left;
}

/** tree nav **/
ul#browser  {
	width:145px;
	overflow:hidden!important;
	background: black;
	border: solid black;
	border-width: 3px;
	padding-left:50px;
	float:left;
	margin:45px 0 0 -40px;
	position:relative;
	z-index:500;
}
.parts {
	border-top: solid 3px #231f20;
	margin-top:40px;
	padding-top:15px;
	height: 254px;
	background-position: center 30px;
	background-repeat:no-repeat;
}
.holderPartsNav {
	margin-top: 180px;
}
.partsNav {
	width:360px;
	float:left;
}
.partsNav ul {
	text-align: left;	
}
.partsNav ul li  {
	padding-left:20px;	
}
.partsNav ul li a {
	color: black;
	text-decoration:underline;
}
.holderPartsNav p {
	width: 130px;
	font-size:11px;
	float:left;
}
ul#browser li {
	margin-bottom:1px;
	display:block;
	
}
ul.carsSub a {
	color:white;
}
.treeHeader {
	background: url(/common/images/template/sprite_tabs_sub_sidenav.jpg) left -22px no-repeat!important;
	font-size:12px;
	font-weight: bold;
	width: 125px;
	height: 17px;
	color:white;
	padding: 5px 0 0 20px;
	display:block;
}
ul.carsSub {
	background: url(/common/images/template/red_head.jpg) left top no-repeat #ed1c24!important;
	padding: 5px 0 0 20px;
}
ul.carsSub li {
	padding:0 0 4px 8px;
}
ul.carsSub ul {
	padding: 0;
}
.expandable {
	background: url(/common/images/template/plus.gif)	left 4px no-repeat;
	cursor: pointer;
	color:white;
}
.collapsable {
	background: url(/common/images/template/minus.gif) left 7px no-repeat;
	cursor: pointer;
	color:white;
}
.carsSub {color:white;}
.ui-tabs { position: relative; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {  }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; }
.ui-tabs .ui-tabs-hide { display: none !important; }


/** sub page **/
.downloadContent {
	padding: 10px;
	background: white;
}
.fade {
	padding: 0 120px 0 55px;
}
.fadeDownloads {
	padding: 0 93px 0 55px;
}
.gradSM {
	background: url(/common/images/template/fade.jpg)	129px bottom no-repeat;
	width: 900px;
	margin: 0 auto;
	min-height:500px;
}
.contBack {
	background: url(/common/images/template/content_back.png) center center repeat-y;
	margin-top:24px;	
}
.fadeMed {
	background: url(/common/images/template/fade.jpg)	left bottom no-repeat;
	padding: 0 65px 0 45px;
}
.fadeWide {
	background: url(/common/images/template/fade.jpg)	left bottom repeat-x;
	width:590px;
	padding: 0 200px 0 20px;
}
.fadeWideSp {
	background: url(/common/images/template/fade.jpg)	left bottom repeat-x;
	width:770px;
	padding: 20px 0 0 40px;
	
}
.spHolder {
	float:left;
	width: 520px;
}
.holderWide {
	width: 645px;
	float:left;
	margin-left:-35px;
	position:relative;
	z-index: 300;
}
.sideColSp {
	width: 141px;
	height: 343px;
	position: absolute;
	left: 621px;
	top: 185px;
	background: url(/common/images/template/span_back_sp.png);
	color:white;
	padding: 25px;
}
.holderFull {
	position: relative;
	left: 35px;
	top: 0px;
	width: 840px;
}
.holderFullHeader {
	background:url(/common/images/template/content_top_wide.png) left top no-repeat;
	width: 840px;
	height: 24px;
}
.holderFullBack {
	background: url(/common/images/template/content_back_wide.png) left top repeat-y;
	width: 840px;
	color: black;
	padding-left:2px;
}
.holderFullFooter {
	background:url(/common/images/template/content_bottom_wide.png) left top no-repeat;
	width: 840px;
	height: 47px;
}
.holderWideHeader {
	background:url(/common/images/template/content_top.png) left top no-repeat;
	width: 645px;
	height: 24px;
	margin:-24px 0 0 1px;
}
.holderWideBack {
	/**background: url(/common/images/template/content_back.png) left top repeat-y;**/
	width: 644px;
	color: black;
	padding-left:2px;
}
.holderWideFooter {
	background:url(/common/images/template/content_bottom.png) left top no-repeat;
	width: 645px;
	height: 47px;
	margin: 0 auto;
}

.leftNav {
	width: 162px;
	float:left;
}
.contentCol {
	width: 518px;
	float:left;
}
.largeCol {
	width: 	738px;
	float:left;
}
.largeColWeird {
	width: 	728px;
	float:left;
}
.largeLeftWeird {
	width: 499px;
	padding-left:40px;
	float:left;
}
.contHolder {
	width: 450px;	
}
.largeLeft {
	width: 480px;
	padding-left:40px;
	float:left;
}
.largeRight {
	width: 200px;
	float:right;
	margin-top:100px;
}
.largeRightWeird {
	width: 189px;
	float:right;
	margin-top:100px;
}

.weirdRightCol {
	width: 220px;
	float:left;
}
.carDesc {
	float:left;
	width: 360px;
	margin-bottom:35px;
}
.carDesc p {
	margin: 0 0 5px 0;	
}

.tableLeft {
	border-left: solid 2px red;
}
.tableRight {
	border-right: solid 2px red;	
}
.tableBot {
	border-bottom: solid 2px red;	
}
.breadCrumbs a {
	color:#666;
	text-decoration:none;
	font-size:11px;	
}
.carHolder {
	clear:both;	
}
.carHolder h2 {
	color:black;
	font-size:14px;
	padding-bottom:3px;
	margin-bottom:3px;
	border-bottom: solid 3px red;
}
.carHolder img {
	float:left;
	border: 0;
	padding-right: 10px;
}
table.featuredDownloads td {
	padding: 6px;	
}
table.featuredDownloads th {
	padding: 6px;	
}
.grayCol td {
	background: #e7e7e8;	
}
table.featuredDownloads th {
	
}
.vidTable td {
	padding:0 15px 30px 15px;
}
div.tableRedHolder {
	padding: 8px;
	border: solid red 2px;
	margin:20px 0;
	background: white;
}
div.redHolder {
	padding: 8px;
	border: solid red 2px;
	background: white;
}
ul#tabsDownloads {
	maring: 0;
	padding: 0;
}
ul#tabsDownloads li a {
	background: url(/common/images/template/sprite_tabs_download.png)	left -23px no-repeat;
	width: 114px;
	height: 18px;
	display: block;
	float:left;
	font-size:11px;
	color:black;
	text-decoration:none;
	padding: 5px 0 0 10px;
}
ul#tabsDownloads li a:hover, .tabActive {
	background: url(/common/images/template/sprite_tabs_download.png)	left top no-repeat!important; 
	color:white!important;
}







/* --- Accordion --- */
.js #main .accordion {visibility:hidden;}

.js #side .accordion {display:none;}

.accordion {margin:0; padding:0;}
.accordion li ul {margin:0 0 0 5px; padding: 0;}

.accordion li {padding: 0; margin: 0; list-style:none!important;}

#side ul.accordion ul {margin:0; padding:0 0 0 20px;}

.accordion .outer {border:1px solid #dadada; border-width:0 1px 1px; background: #fff}

.accordion .inner {margin-bottom:0; padding:.5em 20px 1em; position:relative; overflow:hidden}

.accordion .inner .inner {padding-bottom:0}

.accordion .h {padding-top:.3em} /* vertical padding instead of vertical margin (ie8) */

.accordion p {margin-top:.5em}

/*  
  Add styles for all links in the 'accordion':
.accordion a {...}
*/    

a.trigger, .last-child a.trigger {height: 16px; background: url(/common/images/template/sprite_tabs_sub_sidenav.png) left top no-repeat; color:white; text-decoration:none; font-size:11px; padding: 6px 0 0 11px; display:block;}
#main .open, #main a.trigger:hover {background: url(/common/images/template/sprite_tabs_sub_sidenav.png) left -22px no-repeat!important;}
#sub h4 a.open {background: url(/common/images/template/minus.gif) 5px 13px no-repeat black; border-bottom: solid 2px red;}
ul#acc3  {
	width:145px;
	overflow:hidden!important;
	background: black;
	border: solid black;
	border-width: 3px;
	padding-left:50px;
	float:left;
	margin:45px 0 0 -40px;
	position:relative;
	z-index:500;

}
ul#acc3 li {
	margin-bottom:1px;	
}
#acc3 li ul { background-image:none;background:#58585a; margin: 0; padding: 0; width: 152px;}
#acc3 li ul li a.trigger{background-image:none; padding-left:20px;}
#acc3 li ul li ul a.trigger{background-image:none; padding-left:30px;}
#acc3 li ul li ul li ul a.trigger{background-image:none; padding-left:40px;}
#acc3 li ul li a.trigger:hover{width:127px;!important}
#main a.trigger {background-color:#f0f0f0}
#sub a.trigger {background-color:#f0f0f0}
#sub .inner {
	padding:10px 20px 10px 0;
	clear:both;
}
#main h4 a.open {
	display: block;
	width: 450px;
	border-bottom: 2px solid red!important;
	color:black;
	background: url(/common/images/template/ico_red_square.png) 5px 10px no-repeat #d8d8d8!important;
	padding-left:15px;
}
#sub h4 a.open {
	display: block;
	width: 450px;
	color:black;
	background: #000;
	padding-left:15px;
}
#main h4 a.trigger {
	display: block;
	width: 450px;
	border-bottom: 2px solid white;
	color:black;
	background: url(/common/images/template/ico_red_square.png) 5px 10px no-repeat #d8d8d8!important;
	padding-left:15px;
}
#sub {
	margin: 50px 0 0 20px;
	min-height:300px;
}
#sub h4 a.trigger {
	display: block;
	width: 505px;
	color:white;
	background: url(/common/images/template/plus.gif) 5px 10px no-repeat black;
	padding-left:15px;
	margin-bottom:1px;
}
#sub h4 a.open {
	display: block;
	width: 505px;
	color:white;
	background: url(/common/images/template/minus.gif) 5px 13px no-repeat black;
	padding-left:15px;
	margin-bottom:1px;
}
.copyHolder {
	width: 520px;
	float:left;
}
.featuredDownloads th {
	background: none;	
	border-bottom: solid 2px red;	
}
.prodImg {
	float:right;
	
}
/*.featuredDownloads td {
	background: #fff;	
}*/
.explorer .featuredDownloads td.oddRow, .explorer .featuredDownloads td.grayCol {
	background: #EBEBEB !important;
}
/**
.imageRight {
	width: 150px;
	margin-right: 30px;
	background: red;
	float:right;
	height: 150px;
}
**/
h4.subAcHd a.trigger { background: none!important; color: #1b75be!important; border-bottom: none!important; margin: 5px 0 0 0!important; padding:0!important; text-decoration:underline;}
h4.subAcHd a.trigger.open { background: none!important; color: black!important; border-bottom: none!important; margin: 5px 0 0 0!important; padding:0!important; text-decoration:none;}
#main h4 a.trigger:hover {
	background: url(/common/images/template/ico_red_square.png) 5px 10px no-repeat #d8d8d8!important;
}
#main h4 {
	margin: 0;	
}
#main p {
	margin:0;
	padding:10px;
}
#main a.trigger.open {border-color:#dadada; background-color:#e7e7e7}

#main a:hover.trigger.open, #main a:focus.trigger.open, #main a:active.trigger.open {border-color:#bcd}


#sub h4 {
	margin: 0;	
}

#sub p {
	margin:0;
	padding:10px;
}


#main a:focus.trigger.open, #main a:active.trigger.open {border-color:#bcd}



#side a.active{font-weight:700; color:#f72; text-decoration:none}

/** contact **/
.captchaHolder {
	padding: 10px;
	background: white;
	border: solid red 1px;
}
.captchaHolder img {
	float:left;
	margin-right:10px;
	border: solid 1px #999;
}
.contactFormTable td {
	padding: 5px 5px 5px 0;
	font-size:11px;
}
.formField {
	width: 359px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.captchaField {
	width: 205px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.errorMsg {
	color: red;
	font-style:italic;
}
.contactSubmit {
	border: 0;
	background: url(/common/images/template/btn_contact_sumbit.png);
	width: 78px;
	height: 26px;
	display: block;
	cursor:pointer;
	margin: 0 auto;
}
.sideBar {
	float:left;
	margin:90px 0 0 -90px;
	position:relative;
	z-index:500;
}
.sideBarTop {
	width: 215px;
	height: 12px;
	background: url(/common/images/template/side_bar_top.png);
}
.sideBarContent {
	width: 180px;
	background: url(/common/images/template/side_bar_bak.png) left top repeat-y;
	padding: 10px 15px 0 20px;
}
.sideBarBot {
	width: 215px;
	height: 60px;
	background: url(/common/images/template/side_bar_bot.png) left top no-repeat;
}
.sideBarContent h3, .sideBarContentSp h3 {
	margin: 10px 0 0 0;
	padding: 0;
}

.sideBarSp {
	float:right;
	margin:90px 0 0 -90px;
	position: relative;
	bottom: -35px;
}
.sideBarTopSp {
	width: 215px;
	height: 12px;
	background: url(/common/images/template/side_bar_top_sp.png);
}
.sideBarContentSp {
	width: 180px;
	background: url(/common/images/template/side_bar_bak_sp.png) left top repeat-y;
	padding: 10px 15px 0 20px;
	color:white;
	min-height:400px;
}
.sideBarBotSp {
	width: 215px;
	height: 52px;
	background: url(/common/images/template/side_bar_bot_sp.png) left top no-repeat;
}


/** spanish page / wide col **/
.pad40 {
	padding: 40px 40px 0 40px;	
}
.spLeft {
	width: 597px;
	float:left;
}
.spRight {
	float:left;
	width: 215px;
	color:white;
	padding-bottom:60px;

}
.SpaList li {
	padding: 5px 0 5px 10px;
	background:url(/common/images/template/ico_red_dot.png) 0px 10px no-repeat;
	list-style:none;
}
.holderFullHeaderSp {
	background:url(/common/images/template/holder_sp_top.png) left top no-repeat;
	width: 840px;
	color:black;
}
.holderFullHeaderSp h1 {
	margin: 0;	
}
.holderFullSp {
	background: url(/common/images/template/holder_sp_back.png) left bottom no-repeat;
	width: 840px;
	color:black;
	min-height: 300px;
}
ul.SpaList {
	margin: 0;
	padding: 0 0 0 10px;
	list-style-position:outside;
	width: 40%;
	float:left;
}
h1 {
	margin-top:0;	
}


/** video page **/
.videoJumper {
	float:right;
	background: #069;
	color: white;
	border:solid 2px #999;
	width:33%;
}
.vidTitle {
	width: 65%;
	float:left;
	border-bottom: solid 1px black;
	padding: 0 0 5px 0;
	margin-bottom: 10px;
}
.vidDescHolder {
	width: 139px;
	float:left;
	margin:0 35px 30px 0;
}
.videoHolder {
	text-align:center;	
	margin-top:20px;
}

.longBack {
	width: 	100%;
	background: url(/common/images/template/weird_back.jpg) right top repeat-y;
	color:black;
}
.longBackNoShade {
	width: 	100%;
	background: url(/common/images/template/weird_back_noshade.jpg) right top repeat-y;
	color:black;
}
.longHead {
	width: 100%;
	background: url(/common/images/template/weird_header.jpg) right top no-repeat;
}
.longHeadNoShade {
	width: 100%;
	background: url(/common/images/template/weird_header_noshade.jpg) right top no-repeat;
}
.longFoot {
	width: 100%px;
	background: url(/common/images/template/weird_bot.jpg) right bottom no-repeat;
	padding-bottom:40px;
}
.longFootNoShade {
	width: 100%px;
	background: url(/common/images/template/weird_bot_noshade.jpg) right bottom no-repeat;
	padding-bottom:40px;
}









.holderGallery {
	margin-bottom: 50px;	
}
.holderGallery ul {
	margin:0px 0 50px 0;
	padding: 0;
}
#jgal { list-style: none; width: 200px; }
#jgal li { float: left; display: block; width: 54px; height: 53px; background-position: 50% 50%; cursor: pointer; margin-right: 10px; margin-bottom: 10px; }
#jgal li img { position: absolute; top: 260px; left: 700px; display: none; }
#jgal li.activeThm img { display: block; }
#jgal li.activeThm, #jgal li:hover { outline-color: #bbb; opacity: .99 /* safari bug */ }
.sideNav {
	background: url(/common/images/template/side_nav_back.png);
	padding: 20px;
	color: white;
	clear:both;
	width: 142px;
}
.sideNav ul li {
	padding-bottom:5px;	
}
.sideNav ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}
.sideNav ul a {
	color: white;
	text-decoration:underline;
}
/* styling without javascript */
#gallery { list-style: none; display: block; }
#gallery li { float: left; margin: 0 5px 5px 0; }






/* hide the fullscreen video option */

#salcoPlayer_fsenter {
display: none !important;
}