RewriteEngine On
RewriteBase /

# Ignore all files that have an extension of three letters.
RewriteRule ^(.*\.[a-z]{2,4})$ $1 [L,QSA]
RewriteRule ^(/)$ $1 [L,QSA]

# Ignore all admin tool pages.
RewriteRule ^(common/admin.*)$ $1 [L,QSA]

#DYNAMIC_CONTENT

#END_DYNAMIC_CONTENT

# if we're in https and this page doesn't have the /secure prefix
RewriteCond %{HTTPS} =on
RewriteCond %{REQUEST_URI} !secure/(.[^/]*)/?
RewriteRule ^(.[^/.]*)/(.[^/]*)/?$ http://%{SERVER_NAME}/$1/$2 [QSA]

# if we're not in https and this page has the /secure prefix, redirect to https
RewriteCond %{HTTPS} !=on
RewriteRule ^secure/(.[^/]*)/?$ https://%{SERVER_NAME}/secure/$1 [QSA]

# Handle content alias in the second level e.g. '/content/about'
RewriteRule ^(.[^/.]*)/(.[^/.]*)/?$ content.cfm?page=$2 [L,QSA]

# Handle content aliases in the top level e.g. '/about'
RewriteRule ^(.[^/.]*)/?$ content.cfm?page=$1 [L,QSA]