RewriteEngine On
RewriteBase /

# Ignore all files that have an extension of three letters.
RewriteRule ^(.*\.[a-z]{2,4})$ $1 [L,QSA]
RewriteRule ^(/)$ $1 [L,QSA]

 
# Ignore all admin tool pages.
RewriteRule ^(.*/common/admin.*)$ $1 [L,QSA]

#DYNAMIC_CONTENT

#END_DYNAMIC_CONTENT

# Handle content alias in the second level e.g. '/content/about' 
RewriteRule ^/.*/([^/]*)/?$ content.cfm?page=$1 [L,QSA]

# Handle content aliases in the top level e.g. '/about'
RewriteRule ^(.[^/]*)/?$ content.cfm?page=$1 [L,QSA]