@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 1890px) {
	.kioskMode body{
		background-size: 100% auto;
	}
	
	*{
		-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
	}
    
    .kioskMode .socialmedia{
        display:none;
     }

     .kioskMode article.goalsProgess object, .kioskMode article.goalsProgess embed{
		max-width:none;
		max-height: none;
	}
	
	.kioskMode #wrapper[class=""]{
		width:998px;
		transform: scale(1.9);
		-ms-transform: scale(1.9); /* IE 9 */
		-ms-transform-origin:center top; /* IE 9 */
		-webkit-transform: scale(1.9); /* Safari and Chrome */
		-webkit-transform-origin:center top; /* Safari and Chrome */
		-o-transform: scale(1.9); /* Opera */
		-moz-transform: scale(1.9); /* Firefox */
		-moz-transform-origin:center top; /* Firefox */
	}
	
	.kioskMode #wrapper[class="pdf-flash"]{
		
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #header{width:998px;}
	
	.kioskMode #wrapper[class="pdf-flash"] #header{
		transform: scale(1.9);
		-ms-transform: scale(1.9); /* IE 9 */
		-ms-transform-origin:center top; /* IE 9 */
		-webkit-transform: scale(1.9); /* Safari and Chrome */
		-webkit-transform-origin:center top; /* Safari and Chrome */
		-o-transform: scale(1.9); /* Opera */
		-moz-transform: scale(1.9); /* Firefox */
		-moz-transform-origin:center top; /* Firefox */
		
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #leftColumn{
		transform: scale(1.9);
		-ms-transform: scale(1.9); /* IE 9 */
		-ms-transform-origin:center 330px; /* IE 9 */
		-webkit-transform: scale(1.9); /* Safari and Chrome */
		-webkit-transform-origin:center 330px; /* Safari and Chrome */
		-o-transform: scale(1.9); /* Opera */
		-moz-transform: scale(1.9); /* Firefox */
		-moz-transform-origin:475px -175px 0; /* Firefox */
		
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #rightColumn{
		transform: scale(1.9);
		-ms-transform: scale(1.9); /* IE 9 */
		-ms-transform-origin:center 330px; /* IE 9 */
		-webkit-transform: scale(1.9); /* Safari and Chrome */
		-webkit-transform-origin:center 330px; /* Safari and Chrome */
		-o-transform: scale(1.9); /* Opera */
		-moz-transform: scale(1.9); /* Firefox */
		-moz-transform-origin:-20px -175px 0; /* Firefox */
		
	}
	
	.kioskMode #shipment h1, .kioskMode #shipment .selects, .kioskMode #shipment .subTitle, #shipment .tileHolderSmall{
		
		-moz-transform: scale(1.9); /* Firefox */
		-moz-transform-origin:-5px 0px 0; /* Firefox */
	}
	
	.kioskMode #shipment .selects{
		-moz-transform-origin:-200px 0px 0; /* Firefox */
		position:relative;
		z-index:100;
	}
	
	.kioskMode #shipment .subTitle{
		-moz-transform-origin:-5px -25px 0; /* Firefox */
	}
	
	.kioskMode #shipment .tileHolderSmall{
		-moz-transform-origin:-5px -25px 0; /* Firefox */
	}
	
	.kioskMode #shipment .goalProgressTableHolder{
		margin-top:150px;
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #rightColumn{
		/*width:172px;*/
	}
	
	
	.kioskMode #wrapper[class="pdf-flash"] #contentContainer{
		width:1600px;
		/*margin:170px auto 0 auto;*/
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #centerColumn{
		width:1074px;
		margin:160px 0px 0 -255px;
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #centerColumn article.news{
		border-radius: 25px 25px 25px 25px;
	}
	
	.kioskMode #wrapper[class="pdf-flash"] #centerColumn object, .kioskMode #wrapper[class="pdf-flash"] #centerColumn embed{
		width:100%;
	}
	
	.kioskMode #header #utilityNavigation #search #search-text{
		margin:-1px -5px 0px 18px;
	}
	
	.kioskMode #header{
		position:relative;
		background:url(/common/images/intranet/template/salcoScene.png) no-repeat 220px 102px;
		width:auto;
	}
	
	.kioskMode #header + .clearit{
		height:0px;
	}
	
	.kioskMode #contentContainer #centerColumn{
		margin:0px 10px;
	}
	
	.kioskMode #contentContainer #leftColumn{
		margin-left:15px;
	}
	
	.kioskMode #header #utilityNavigation .utilityNavigation ul li:nth-child(1), .kioskMode #header #utilityNavigation .utilityNavigation ul li:nth-child(2) {
	    display:none;
	}
	
	
	.kioskMode #header #utilityNavigation .utilityNavigation ul li:nth-child(3) {
	   border-radius: 8px 0 0 8px;
	}
	
	.kioskMode #header #utilityNavigation .utilityNavigation ul li:nth-child(4) {
		border-radius: 0 8px 8px 0;
	}
	
	
	.kioskMode #header #utilityNavigation .utilityNavigation ul li:nth-child(5) {
	    display:none;
	}
	
	.kioskMode #modalBG {
		position: fixed !important;
		z-index: 1 !important;
	}
	.kioskMode .news-item .lrgImgs {
		top:120px !important;
		position: absolute !important;
		z-index:30 !important;
	}
	
	

	.kioskMode #header #utilityNavigation {
		margin-right:14px;}
		
	.kioskMode #wrapper{
	opacity:0;
	-webkit-transition: opacity .75s ease-out;
	-moz-transition: opacity .75s ease-out;
	-o-transition: opacity .75s ease-out;
	transition: opacity .75s ease-out;
}

.kioskMode .loaded #wrapper{
	opacity:1;
}

.kioskMode .fadeout #wrapper{
	opacity:0;
}

.kioskMode .fadeout.fadein #wrapper{
	opacity:1;
	-webkit-transition: opacity .75s ease-out .5s;
	-moz-transition: opacity .75s ease-out .5s;
	-o-transition: opacity .75s ease-out .5s;
	transition: opacity .75s ease-out .5s;
}

.kioskMode .employees-listing #empl-nav li{
	margin:0px 0px -4px 0px;
	font-size:0px;
	-webkit-transition: opacity .75s ease-out;
	-moz-transition: opacity .75s ease-out;
	-o-transition: opacity .75s ease-out;
	transition: opacity .75s ease-out;
	outline:none;

}

.kioskMode .employees-listing #empl-nav li a{
	font-size:17px;
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
	margin-top:-5px;
	margin-right:-4px;
	width:13px;
	/*background:blue;*/
	text-align:center;
	-webkit-transition: opacity .75s ease-out;
	-moz-transition: opacity .75s ease-out;
	-o-transition: opacity .75s ease-out;
	transition: opacity .75s ease-out;
}

.kioskMode .calendar-nav div:nth-child(1), .calendar-nav div:nth-child(3) {
	width:20%;
}

.kioskMode .calendar-nav div:nth-child(1) a, .calendar-nav div:nth-child(3) a {
	display:block;
	text-align:center;
}

.kioskMode .calendar-nav div.monthYr {
    width: 55% !important;
}

.kioskMode #empl-nav {
	margin-left:200px;
}

.kioskMode #modalBG:after{
	content:"Tap on image border to hide navigation, Tap on image to show navigation";
	position:absolute;
	color:#fff;
	font-size:15px;
	margin-top:10px;
	margin-left:10px;
	opacity:0;
	-webkit-animation: animate-instructions 15s cubic-bezier(0.950, 0.050, 0.795, 0.035);
     -moz-animation: animate-instructions 15s cubic-bezier(0.950, 0.050, 0.795, 0.035); 
	 -ms-animation: animate-instructions 15s cubic-bezier(0.950, 0.050, 0.795, 0.035);      		
		}
        
        @-webkit-keyframes animate-instructions { 
			0% {opacity:1;} 
			85%{opacity:1;}
			90%{opacity:.25;}
			92%{opacity:1;}
			94%{opacity:.25;}
			96%{opacity:1;}
			100% {opacity:0;}
        }
        
        
        @-moz-keyframes animate-instructions {
			0% {opacity:1;} 
			85%{opacity:1;}
			90%{opacity:.25;}
			92%{opacity:1;}
			94%{opacity:.25;}
			96%{opacity:.75;}
			100% {opacity:0;}
        }
	   
	    @-ms-keyframes animate-instructions {
			0% {opacity:1;} 
			85%{opacity:1;}
			90%{opacity:.25;}
			92%{opacity:1;}
			94%{opacity:.25;}
			96%{opacity:1;}
			100% {opacity:0;}
        }
	
	
	.kioskMode #inclWHolder, .kioskMode #inclmWOverlay{
		display:none;
	}
	
	.kioskMode #vidModalHolder > .closeGal:nth-child(1){
		display:none;
	}
	
	.kioskMode #vidModalHolder > .closeGal:nth-child(3){
		background: url("/common/images/intranet/template/closeBut2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		height: 21px;
		width: 23px;
		display:block;
		float:right;
		margin-top:-5px;
	}
	
	.kioskMode #vidModalHolder > .closeGal:nth-child(3):after{
		content:"";
		clear:both;
		display:block;
		
	}
    
    
	
}

