/* Content styles */

/* universal font */

body, td{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

a {
	color:#003333;
	text-decoration:none;
}

#centerColumn a {
	color: #990000;
	text-decoration:none;
}

	/* image link styles */
	a img{ 
		border:none;
	}

p{
	margin:0px;
	padding:0px 0px 10px 0px;
}

h1{
	font-size:15px;
	color:#333333;
	padding:0px;
	margin:0px 0px 20px 0px;
}

h2{
	font-size:13px;
	color: #666666;
	padding:0px;
	margin:0px 0px 15px 0px;
}

h3{
	font-size:11px;
	color: #999999;
	padding:0px;
	margin:0px 0px 10px 0px;
}


/* for use in addresses */
address{
	font-style:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0px  0px 10px 20px;

}

/* blockquote used for quotations */
blockquote{
	font-style:italic;
}

/* lists styles */

/* unordered list */

ul{}

/* ordered list */

ol{}

/* list items */

li{}

/* definition lists */
dl{}

dt{
	font-weight:900;
	color:#000066;
}

dl dd dt{
	margin:10px 0px 0px 0px;
}

dd{}

/* table styles */

table{
	border:none;
}

caption{
	color:#990033;
}

tbody{
	border:none;
}

tr{}

th{
	border:none;
}

tr{}

td{
border:none;}

/* code styles */
code{
	display:block;
	padding-bottom:10px;
	white-space: pre;
	padding:10px 0px 10px 0px;
}

.strikeout{
	text-decoration:line-through;
}

/* honeypot ant-spam field */
.winnie {
	display:none;
}

