/* IE styles for new Default Template */

/* adjustments to CSS Main Roll overs. */
/* for IE 7 and above */
#mainNavigation ul ul{
	margin-left: -125px;
	margin-top:15px;
	background:transparent url(/common/images/template/navigation/ieTransparent.png);
}



#leftColumn .sideNavigation ul ul ul{
	margin-left:175px;
	margin-top:-15px;
}
/**/
#leftColumn .sideNavigation ul ul{
	margin-left:119px;
	margin-top:-1px;
	/*left:200px;*/
}

#leftColumn .sideNavigation ul ul a, #leftColumn .sideNavigation ul ul ul a{
	display:block;
	width:100%;
}

#rightColumn .sideNavigation ul ul{
	margin-left:-252px;
	margin-top:0px;
}

#rightColumn .sideNavigation ul ul ul{
	margin-left:-276px;
	margin-top:-15px;
}

/*#contentContainer #centerColumn{
	height:500px; 
	 set to make sure the page is not too incredably short ie6 only (to be put into IE6 only
}*/