/* All CSS Rollover Menu */

#mainNavigation li.submenu:hover{
	background-color: #fff; 
}
#mainNavigation li.submenu:hover a:hover{
	color:#990033;
	background-color: #fff;
	
}

#mainNavigation ul li{
}

#mainNavigation ul ul{
	position:absolute;
	display:none; 
	width:122px; 
	background-color: #6699FF; 
	opacity:.85; 
	-moz-opacity:.85; 
	padding-bottom:5px; 
	z-index:150;
} 

#mainNavigation ul ul li{ 
	float:none; 
}

#mainNavigation ul ul {}

#sidebar ul ul li{
	border-left:1px dotted #999; 
	border-right:1px dotted #999; 
	margin-left:-1px;
}


#sidebar ul ul li:first-child{
	border-top:1px dotted #999; 
	margin-top:2px; 
	border-left:1px solid #fff;
}

#sidebar ul ul li:last-child{
	border-bottom:1px dotted #999; 
	margin-bottom:2px;
}

#mainNavigation ul ul li.level3 {
	margin-top:-20px;
	padding:0px;
}


#mainNavigation ul ul li.submenu:after{
	content:"       »";
}

#mainNavigation ul.level2 li.submenu ul.level3{ 
	left:122px;  
	opacity:1; 
	-moz-opacity:1;  
	border:1px dashed blue; 
	margin-top:-15px;
}
#mainNavigation ul.menuCSS li.submenu:hover ul.level2, #mainNavigation ul.level2 li.submenu:hover ul.level3{
	display:block;
}

#mainNavigation ul.level3{
	margin-left:-15px;
	padding-top:3px;
}

#mainNavigation ul.level3 li{
	margin-top:0px;
}

