/* All CSS side navigation Document */


.sideNavigation{
margin:5px 0px 0px 5px;}

.sideNavigation ul, .sideNavigation ul li{
	margin:0px;
	padding:0px;
}

.sideNavigation ul li{
	list-style:none;
}


.sideNavigation li.sidemenu:hover{
	background-color: #0066FF ; /*#fff*/
}

.sideNavigation li.sidemenu:hover a:hover{
	color:red;
}

.sideNavigation ul ul{
	position:absolute;
	display:none;/**/ 
	width:175px; 
	background-color: #336699; 
	padding-bottom:5px; 
	
} 



.sideNavigation ul ul li{ 
	float:none; 
}


.sideNavigation ul ul li{
	margin-left:-1px;
}



.sideNavigation ul ul li.level3 {
	margin-top:-20px;
	padding:0px;
}


.sideNavigation ul ul li.sidemenu:after{
content:"       »";
}

.sideNavigation ul.level2 li.sidemenu ul.level3{ 
	margin-top:-15px;
}
.sideNavigation ul li.sidemenu:hover ul.level2, .sideNavigation ul.level2 li.sidemenu:hover ul.level3{
	display:block;
}

#leftColumn .sideNavigation ul ul{
	margin-left:195px;
	margin-top:-15px;
	/*left:195px;*/
}

#leftColumn .sideNavigation ul ul ul{
	margin-left:175px;
}

#leftColumn .sideNavigation ul ul li.sidemenu:after,#leftColumn .sideNavigation ul li.sidemenu:after{
content:"       »";
}

#rightColumn .sideNavigation ul ul{
	margin-left:-175px;
	margin-top:-15px;
}

#rightColumn  .sideNavigation ul ul ul{
	margin-left:-174px;
}

#rightColumn .sideNavigation ul ul li.sidemenu:after , #rightColumn .sideNavigation ul li.sidemenu:after{
content:"«";
}