/* template styles  */

body{
	margin:0px;
	padding:0px;
}

/* default generic reuseable classes */

.clearit{
	clear:both;
}

/* main content default styles */

#wrapper{
	width:950px;
	margin: 10px auto 10px  auto;
}

#header{}

#logoContainer, #utilityNavigation{
	float:left;
}

#logoContainer{
	width:680px;
}

#mainNavigation{

 }
 
#utilityNavigation{
	width:270px;	
}

#utilityNavigation input[type=text]{
width:150px;}

#utilityNavigation ul, #mainNavigation ul{
	margin:0px;
	padding:0px;
}

#utilityNavigation ul li, #mainNavigation ul li{
	list-style:none;
	float:left;
	margin:0px;
	padding:0px;
	padding:0px 5px 0px 5px;
}

 #mainNavigation ul li{
	list-style:none;
	float:left;
	margin:10px 0px 0px 0px;

}

.sideNavigation ul{
	margin:0px;
	padding:0px;
}

.sideNavigation ul li{
	list-style:none;
	margin:0px;
	padding:0px;
}

/* content area styles */ 

#contentContainer{
	width:950px;
	margin-top:15px;
	border-top:1px solid #333333;
	border-bottom:1px solid #333333;
	overflow: hidden;  /*for equal column hack */
}

#contentContainer #leftColumn, #contentContainer #centerColumn, #contentContainer #rightColumn, #contentContainer #portalColumn {
	float:left;
	padding-top:10px;
	margin-bottom:-9000px; /* for equal column hack */
	padding-bottom:9000px; /* for equal column hack */
	border-right:1px solid #333333;
	border-left:1px solid #333333;
}

#contentContainer #leftColumn{
	width:200px;
	margin-right:15px;
	padding-left:10px;
}

#contentContainer #centerColumn{
	width:501px;
	min-height:500px;/* set to make sure the page is not too incredably short all browser but ie6 */
	padding-left:10px;
	padding-right:10px;
}

#contentContainer #rightColumn{
	width:173px;
	margin-left:15px;
	padding-left:10px;
}

#footer{
	text-align:center;
	margin:5px auto 0px auto;
	width:95%;
	padding:0px 0px 10px 0px;
	
}

#footer #copyr{
	float:left;
}

#footer ul{
	margin:0px;
	padding:0px;
}

#footer ul li{
	margin:0px;
	padding:0px 5px 0px 5px;
	float:right;
	list-style:none;
	text-align:left;
}

/* to test intralinks */

.intraLink{
position:absolute;}